{% extends 'base.html' %} {% block title %}{{ user.username }} | {{ block.super }}{% endblock %} {% block content %}
<h1>{{ user.username }}</h1> 
{{ request.user.is_following.all }}
{% if user.profile in request.user.is_following.all %}
Is Following 
{% endif %}
{% include 'profiles/snippets/follow_form.html' with username=user.username is_following=is_following %}
<form action="" class="form">
    <input type="text" placeholder="Search" name="q" value='{{ request.GET.q }}'>
    <input type="submit">
</form>
{% if user.item_set.all.exists %}
{% if locations %}
{% for rest in locations %}
<div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
            <li><h4>{{ rest.title }}</h4>
                <ul>
                    {% for item in rest.item_set.all %}
                    <li>{{ item.name }} {% for ing in item.get_content %}
                        <a href="{{ request.path }}?q={{ ing }}">{{ ing }}</a>{% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </div>
    </div>
</div>
{% endfor %} 
{% endif %}
{% else %}
<p class="lead">No Item Found</p>
{% endif %} {% endblock %}
